.Conteiner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  padding: 2em;
  max-width: 900px;
  margin: 2rem auto;
}

@media screen and (min-width: 500px){
 .Conteiner{
  grid-template-columns: repeat(1, 1fr);
 }
}

@media screen and (min-width: 560px) {
 .Conteiner{
  grid-template-columns: repeat(3, 1fr);
 }
}