.Nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(---color-surface);
  
}
.Nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface);
}
.Nav_avatar {
  border-radius: 50%;
  background-color: var(---color-border);
}
.Nav_link {
  text-decoration: none;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-weight: 500;
}
.Nav_link:hover {
  color: var(--color-primary);
}
