.Nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(---color-surface);
  
}
.Nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
 
  gap: 17px;
 
}
.Nav_avatar {
  border-radius: 50%;
  
}
.Nav_link {
  padding: 0.9rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}
.Nav_link:hover {
  color: var( --color-primary-hover);
     transition: all 0.9s ease;
     font-size: 18px;
}

